<style>
    h1{
        font-size:2em;
    }
    table{
        width:60%;
        margin:auto
    }
    .tableHeader{
        background-color: lightgreen;
    }
    .col{
        display:flex;
        justify-content: center;
    }
    td, th{
        border:1px solid black;
    }
    .thumbnail, .title, .price, .id{
        text-align: center;
    }
    img{
        width:120px;
        height:120px;
    }
    .pair{
        background-color:blue;
    }


</style>
<h1 class='hola'>PRODUCTS</h1>

{{#if exist}}
    <table>
    <thead  class="tableHeader">
        <tr>
        <th scope="col">Prod. ID</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Picture</th>
        </tr>
    </thead>
        <tbody class='tableBody'>
        {{#each products}}
        {{log this.title}}
        <tr>
        <th scope="row" class='id'>{{this.id}}</th>
        <td class='title'>{{this.title}}</td>
        <td class='price'>{{this.price}}</td>
        <td class='thumbnail'><img src={{this.thumbnail}} alt={{this.title}} ></td>
        </tr>
        {{/each}}
    </tbody>
    {{else}}
        <span>No hay productos!</span>
{{/if }}
</table>